.filter {
	margin: 15px 0 0 0;
	padding: 0;
	display: flex;
	gap: 5px;
	justify-content: space-evenly;
}
.filter li {
	list-style-type: none;
}
.filterBtn {
	font-size: 1.2rem;
	cursor: pointer;
	border: none;
	background: none;
	color: var(--color-white);
}
.selected {
	color: var(--color-yellow);
}
