.form {
	display: flex;
	align-items: center;
}
.input {
	border: none;
	background: none;
	border-bottom: 1px solid var(--color-white);
	font-size: 1.2rem;
	color: var(--color-white);
	width: calc(100% - 42px);
}
.button {
	cursor: pointer;
	border: none;
	background: none;
	color: var(--color-white);
	font-size: 2rem;
	padding: 0 3px;
	display: flex;
	align-items: center;
}
